<mat-form-field appearance="fill" style="width: 50%; margin-top: 110px">
  <mat-label>Пользователь</mat-label>
  <mat-select [(value)]="currentUser" (valueChange)="selectUser($event)">
    <mat-option
      [value]="user"
      *ngFor="let user of users?.value"
    >{{user?.username}}</mat-option>
  </mat-select>
</mat-form-field>

<div>
  <h1>Роли пользователя</h1>
  <ul style="text-align: left; margin-left: 30%; list-style: none">
    <li *ngFor="let role of roles?.value">
      <mat-checkbox
        [(ngModel)]="role.user_has_role"
        (ngModelChange)="changeRole(role)"
        [disabled]="!this.currentUser"
      >
        {{role?.role}}
      </mat-checkbox>
    </li>
  </ul>
</div>

<form [formGroup]="userTransportGroup" *ngIf="userTransportGroup" class="form-wrap">
  <h1>Транспорт пользователя</h1>
  <mat-list formArrayName="transports">
    <mat-list-item
      *ngFor="let transportControl of userTransportGroupArray?.controls; let i = index"
      formGroupName="{{i}}"
      [disabled]="!this.currentUser"
    >
      <mat-select style="width: 200px" formControlName="type">
        <mat-option *ngFor="let type of this.transportTypes.value" [value]="type.id">{{type.type}}</mat-option>
      </mat-select>

      <input
        class="temp-input"
        type="text"
        placeholder="Регистрационный номер"
        [value]="transportControl.value.registrationNumber"
        formControlName="registrationNumber"
        [disabled]="!this.currentUser"
      >

      <input
        class="temp-input"
        type="text"
        placeholder="Основная информация"
        [value]="transportControl.value.info"
        formControlName="info"
        [disabled]="!this.currentUser"
      >

      <button (click)="removeUserTransport(i)" [disabled]="!this.currentUser" class="delete-button">Удалить</button>
    </mat-list-item>
  </mat-list>

  <div style="width: 50%">
    <button class="i-button" (click)="pushToArray(null)" [disabled]="!this.currentUser">Добавить транспорт</button>
    <button class="i-button" (click)="saveTransports()" [disabled]="!this.currentUser">Сохранить</button>
  </div>
</form>


