<nav>
  <a routerLink="/auth" *ngIf="profile == null" class="link">Авторизация</a>
  <a routerLink="/registration" *ngIf="profile == null" class="link">Регистрация</a>
  <a routerLink="/profile" *ngIf="profile != null" class="link">Пользователь</a>
  <a routerLink="/order" *ngIf="checkRole('manager') || checkRole('admin')" class="link">Заказы</a>
  <a routerLink="/storage" *ngIf="checkRole('manager') || checkRole('admin')" class="link">Склад</a>
  <a routerLink="/admin" *ngIf="checkRole('admin')" class="link">Админ</a>
  <a routerLink="/user-editor" *ngIf="checkRole('manager') || checkRole('admin')" class="link">Редактирование пользователей</a>
  <button (click)="logout()" *ngIf="profile != null" class="i-button">Выйти</button>
</nav>


<router-outlet></router-outlet>
