<div style="text-align: left">
  <h1>Редактирование примитивов</h1>
  <form [formGroup]="formGroup">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Роли</mat-panel-title>
        </mat-expansion-panel-header>

        <div class="creator-wrap">
          <input type="text" formControlName="role" class="temp-input">
          <button (click)="createRole()" class="i-button">Создать роль</button>
        </div>

        <mat-list formArrayName="roles">
          <mat-list-item *ngFor="let role of roleControls?.value; let i = index" formGroupName="{{i}}">
            <input type="text" placeholder="Роль" [value]="role.role" formControlName="role" class="temp-input">
            <div class="full-width">
              <button (click)="removeRole(role.id, i)" *ngIf="!role.isBase" class="i-button">Удалить</button>
              <button (click)="updateRole(role, i)" [disabled]="roleControls.controls[i].pristine" *ngIf="!role.isBase"
                      class="i-button">Сохранить
              </button>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Строения</mat-panel-title>
        </mat-expansion-panel-header>

        <div class="creator-wrap">
          <input type="text" formControlName="build" class="temp-input">
          <button (click)="createBuild()" class="i-button">Создать тип строения</button>
        </div>

        <mat-list formArrayName="builds">
          <mat-list-item *ngFor="let build of buildControls.value; let i = index" formGroupName="{{i}}">
            <input type="text" placeholder="Строение" [value]="build.type" formControlName="type" class="temp-input">
            <div class="full-width">
              <button (click)="removeBuild(build.id, i)" *ngIf="!build.isBase" class="i-button">Удалить</button>
              <button (click)="updateBuild(build, i)" [disabled]="buildControls.controls[i].pristine"
                      *ngIf="!build.isBase" class="i-button">Сохранить</button>

            </div>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Типы транспорта</mat-panel-title>
        </mat-expansion-panel-header>

        <div class="creator-wrap">
          <input type="text" formControlName="transportType" class="temp-input">
          <button (click)="createTransportType()" class="i-button">Создать тип транспорта</button>
        </div>

        <mat-list formArrayName="transportTypes">
          <mat-list-item *ngFor="let transport of transportTypeControls.value; let i = index" formGroupName="{{i}}">
            <input type="text" placeholder="Строение" [value]="transport.type" formControlName="type"
                   class="temp-input">
            <div class="full-width">
              <button (click)="removeTransportType(transport.id, i)" *ngIf="!transport.isBase" class="i-button">Удалить</button>
              <button (click)="updateTransportType(transport, i)" [disabled]="transportTypeControls.controls[i].pristine"
                      *ngIf="!transport.isBase" class="i-button">Сохранить</button>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>
