<h1>Оформление заказа</h1>

<div class="user_info">
  <mat-form-field appearance="fill" >
    <mat-label>Клиент</mat-label>
    <mat-select [(value)]="currentUser" (valueChange)="selectUser($event)" [disabled]="disableSelectUser">
      <mat-option
        [value]="user"
        *ngFor="let user of users"
      >{{user.username}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Адрес</mat-label>
    <mat-select [(value)]="currentAddress" [disabled]="!currentUser">
      <mat-option
        [value]="address"
        *ngFor="let address of getAddresses()"
      >{{address.address}} - {{address.type}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Номер телефона</mat-label>
    <mat-select [(value)]="currentPhone" [disabled]="!currentUser">
      <mat-option
        [value]="phone"
        *ngFor="let phone of currentUser?.phones"
      >{{phone?.phone}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="items_info">

</div>
