<div *ngIf="profile">
  <p>{{profile.username}}</p>
  <p>FN: {{profile.firstName}}</p>
  <p>LN: {{profile.lastName}}</p>
  <p>email: {{profile.email}}</p>
  <p>is staff: {{profile.isStaff}}</p>
  <p>is active: {{profile.isActive}}</p>
  <p>is superuser: {{profile.isSuperuser}}</p>
  <p>date joined: {{profile.dateJoined}}</p>
  <p>last login: {{profile.lastLogin}}</p>
  <p>groups: {{profile.groups}}</p>

  <p>transports:</p>
  <ul>
    <li *ngFor="let transport of profile.transports">{{transport.type}} - {{transport.registrationNumber}}
      - {{transport.info}}</li>
  </ul>

  <div>
    <p>addresses:      <button (click)="openPhoneInput()">{{!showPhoneEditor ? 'Редактировать' : 'Скрыть редактирование' }}</button>
    </p>

    <div *ngIf="showAddressEditor">
      <input type="text" [formControl]="addressControl">
      <button (click)="addUserAddress()">Добавить</button>
    </div>

    <mat-list>
      <mat-list-item *ngFor="let address of profile.addresses; let i = index">
        <p>{{address.type}} - {{address.address}} - Актульность: {{address.isActual}}</p>
        <button (click)="deleteUserAddress(address.id, i)" *ngIf="showAddressEditor">Удалить</button>
      </mat-list-item>
    </mat-list>
  </div>

  <div>
    <p>
      <span>phones:</span>
      <button (click)="openPhoneInput()">{{!showPhoneEditor ? 'Редактировать' : 'Скрыть редактирование' }}</button>
    </p>

    <div *ngIf="showPhoneEditor">
      <input type="text" [formControl]="phoneControl">
      <button (click)="addUserProne()">Добавить</button>
    </div>

    <mat-list>
      <mat-list-item *ngFor="let phone of profile.phones; let i = index">
        <p>{{phone.phone}}</p>
        <button (click)="deleteUserPhone(phone.id, i)" *ngIf="showPhoneEditor">Удалить</button>
      </mat-list-item>
    </mat-list>
  </div>
</div>
