<div *ngIf="profile">
  <p>{{profile.username}} <span *ngIf="profile.isSuperuser" style="color: red">Администратор</span></p>
  <p>Имя: {{profile.firstName}}</p>
  <p>Фамилия: {{profile.lastName}}</p>
  <p>Email: {{profile.email}}</p>

  <p>Дата регистрации: {{profile.dateJoined}}</p>
  <p>Последний вход: {{profile.lastLogin}}</p>

  <div>
    <p>Транспорт: <span *ngIf="!profile.transports?.length">Отсутствует</span></p>
    <ul *ngIf="profile.transports?.length">
      <li *ngFor="let transport of profile.transports">{{transport.type}} - {{transport.registrationNumber}}
        - {{transport.info}}</li>
    </ul>
  </div>


  <div>
    <p>
      <span>Адреса:</span>
      <button (click)="openAddressInput()">{{!showAddressEditor ? 'Редактировать' : 'Скрыть редактирование' }}</button>
    </p>

    <div *ngIf="showAddressEditor">
      <input type="text" [formControl]="addressControl">
      <button (click)="addUserAddress()">Добавить</button>
    </div>

    <mat-list>
      <mat-list-item *ngFor="let address of profile.addresses; let i = index">
        <p>{{address.type}} - {{address.address}} - {{address.isActual ? 'Актуален' : 'Не актуален'}}</p>
        <button (click)="deleteUserAddress(address.id, i)" *ngIf="showAddressEditor">Удалить</button>
      </mat-list-item>
    </mat-list>
  </div>

  <div>
    <p>
      <span>Телефоны:</span>
      <button (click)="openPhoneInput()">{{!showPhoneEditor ? 'Редактировать' : 'Скрыть редактирование' }}</button>
    </p>

    <div *ngIf="showPhoneEditor">
      <input type="text" [formControl]="phoneControl">
      <button (click)="addUserProne()">Добавить</button>
    </div>

    <mat-list>
      <mat-list-item *ngFor="let phone of profile.phones; let i = index">
        <p>{{phone.phone}}</p>
        <button (click)="deleteUserPhone(phone.id, i)" *ngIf="showPhoneEditor">Удалить</button>
      </mat-list-item>
    </mat-list>
  </div>
</div>
